<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUENTRALO.CL</title>
    <link rel= "stylesheet" type= "text/css" href= "/css/bienvenido.css">

</head>
<body>
    <header>
        <div id="logobox">
            <img src="/images/lupa.png" alt="">
            <h1>ENCUENTRALO.CL |</h1>
            <h2>BIENVENIDO {{USUARIO.NOMBRE}}</h2>
        </div>
        <div id="linksbox">
            <a href="#">MI PERFIL</a>
            <a style="color:#F7A821;" href="#">LOG OUT</a>
        </div>
    </header>

    <div id="bigcolumn">
        

        <h1 class="titulo">SELECCIONA UNA OPCIÓN:</h1>

        <form action="/dashboard">
            <input type="submit" value="BUSCO UN SERVICIO">
        </form>

        <form action="/crear">
            <input type="submit" value="OFREZCO UN SERVICIO">
        </form>

    </div>

</body>
</html>