<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUENTRALO.CL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>
<body>
    <header>
        <div id="logobox">
            <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="">
            <h1>ENCUENTRALO.CL |</h1>
            <h2>BIENVENIDO {{usuario.nombre|upper}}</h2>
        </div>
        <div id="linksbox">
            <a href="/perfil">MI PERFIL</a>
            <a href="/bienvenido">INICIO</a>
            <a style="color:#F7A821;" href="logout">LOG OUT</a>
        </div>
    </header>

    <div id="bigcolumn">
        <h1 class="titulo">SERVICIOS DE {{categoria|upper}} REGISTRADOS:</h1>
        <table id="servicios">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>TELÉFONO</th>
                    <th>EVALUACIÓN</th>
                    <th>DESCRIPCIÓN</th>
                </tr>
            </thead>

            <tbody>
                {% for s in servicios %}
                <tr>
                    <td><a href="/perfil/{{s.user.id}}">{{s.user.nombre}} {{s.user.apellido_paterno}}</a></td>
                    <td>{{s.telefono}}</td>
                    <td>Valoración</td>
                    <td>{{s.descripcion}}</td>
                </tr>
                {% endfor %}


            </tbody>


        </table>

    </div>

</body>
</html>