<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuéntralo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container col-sm-12 d-flex justify-content-center">
        <h1 class="text-center">Servicios registrados</h1>
    </div>
    <div class="container col-sm-12 d-flex justify-content-center">
        <a href="/bienvenido" class="btn btn-secondary col col-1 m-2">Inicio</a>
        <a href="/perfil" class="btn btn-secondary col col-1 m-2">Mi perfil</a>
        <a href="/servicios" class="btn btn-secondary col col-1 m-2">Volver</a>
        <a href="/logout" class="btn btn-secondary col col-1 m-2">Logout</a>
    </div>

    <div class="container col-sm-12 d-flex justify-content-center">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Servicio</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>

                {% for s in uws %}
                <tr>
                    <td>{{s.nombre}} {{s.apellido_paterno}}</td>
                    <td>{{s.telefono}}</td>
                    <td>{{s.categoria}}</td>
                    <td>{{s.descripcion}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>