<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUENTRALO.CL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/crearservicio.css') }}">

</head>
<body>
    <header>
        <div id="logobox">
            <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="">
            <h1>ENCUENTRALO.CL |</h1>
            <!-- <h2>BIENVENIDO usuario.nombre|upper </h2> -->
        </div>
        <div id="linksbox">
            <a href="/perfil">MI PERFIL</a>
            <a href="/bienvenido">INICIO</a>
            <a style="color:#F7A821;" href="/logout">LOG OUT</a>
        </div>
    </header>

    <div id="bigcolumn">
        

        <h1 class="titulo">EDITA TU SERVICIO:</h1>

        <div class="servicebox">
            <form  action="/update" method="post">
                <div class="row">
                    <input type="hidden" name="id" value={{servicio.id}}>
                    <label for="categoria" >Categoría:</label><br>
                    <input type="text" name="categoria" value="{{servicio.categoria}}" disabled>
                </div>

                <div class= "row">
                    <label for="telefono" >Telefono de contacto:</label>
                    <div>
                        <input type="text"  name="telefono" value="{{servicio.telefono}}">
                    </div>
                </div>
                
                <div >
                    <label for="descripcion">Descripción:</label>
                    <div >
                        <input type="text" value="{{servicio.descripcion}}" size="100px" name="descripcion">
                    </div>
                </div>
                <input type="submit"  value="Editar" >
            </div>
        </div>
        </form>

    </div>

</body>
</html>