<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUENTRALO.CL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="">
        <h1>ENCUENTRALO.CL |</h1>
    </header>

    <div id="bigcolumn">
        
        <div id="login" class="halfcolumn">
            
            <h1 class="titulo">INGRESO</h1>
            
            <form action="/login" method="post">
                <label for="email">Email:</label>
                <input type="text" name="email">
                <label for="contraseña">Contraseña:</label>
                <input type="password" name="contraseña">
                <input type="submit" value="Ingresar">
            </form>
        
        </div>
        
        
        
        
        <div id="register" class="halfcolumn">

            <h1 id="registitle" class="titulo">REGISTRO</h1>

            <form action="/register" method="post">

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre">
                <label for="apellido_paterno">Apellido Paterno:</label>
                <input type="text" name="apellido_paterno">
                <label for="apellido_materno">Apellido Materno:</label>
                <input type="text" name="apellido_materno">
                <label for="email">Email:</label>
                <input type="text" name="email">
                <label for="contraseña">Contraseña:</label>
                <input type="password" name="contraseña">
                <label for="confirm">Confirma contraseña:</label>
                <input type="password" name="confirm">

                <input type="submit" value="Registrar">

            </form>
            
        </div>
        <img src="{{ url_for('static', filename='images/portada.png') }}">
    </div>
    <div id="flash">

        {% with messages = get_flashed_messages()%}
        {%if messages%}
        {%for message in messages%}
        <p>{{message}}</p>
        {%endfor%}
        {%endif%}
        {%endwith%}
    </div>

</body>
</html>