<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUENTRALO.CL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}">

</head>
<body>
    <header>
        <div id="logobox">
            <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="">
            <h1>ENCUENTRALO.CL |</h1>
            <h2>BIENVENIDO USUARIO.NOMBRE</h2>
        </div>
        <div id="linksbox">
            <a href="/perfil">MI PERFIL</a>
            <a href="/bienvenido">INICIO</a>
            <a style="color:#F7A821;" href="/logout">LOG OUT</a>
        </div>
    </header>

    <div id="bigcolumn">
        
        <div id="titlebox">
            <h1 class="titulo">JULIAN ABARZUA | 4,8 |</h1>
            <a href="">Mis Mensaje</a>
        </div>


        <div id="BOXES-WRAP">
            <div class="servicebox">
                <a href="">EDITAR</a>
                <a href="">ELIMINAR</a>
                <h2>TAXI</h2>
                <h2>+569 5669 7984</h2>
                <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, culpa!</h2>

            </div>

            <div class="commentsbox">
                <h2>COMENTARIOS</h2>
                <h3>PEDRO:</h3>
                <h3>Lorem ipsum dolor sit amet.</h3><br>
                <h3>JUAN:</h3>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3><br>
                <h3>DIEGO:</h3>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim deleniti excepturi debitis. Necessitatibus, aliquid!</h3><br>

            </div>

            <div class="formbox">
            </div>

        </div>

    </div>

</body>
</html>