<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUENTRALO.CL</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}">

</head>
<body>
    <header>
        <div id="logobox">
            <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="">
            <h1>ENCUENTRALO.CL |</h1>
            <h2>BIENVENIDO {{usuario.nombre|upper}}</h2>
        </div>
        <div id="linksbox">
            <a href="/perfil">MI PERFIL</a>
            <a href="/bienvenido">INICIO</a>
            <a style="color:#F7A821;" href="/logout">LOG OUT</a>
        </div>
    </header>

    <div id="bigcolumn">
        
        <div id="titlebox">
            <h1 class="titulo">{{usuario.nombre|upper}} {{usuario.apellido_paterno|upper}}</h1>
        </div>


        <div id="BOXES-WRAP">
            {% for service in usuario.servicios %}
            <div class="servicebox">
                <a href="/edit/{{service.id}}" style="font-size:12px;">EDITAR</a>
                <a href="/destroy/{{service.id}}" style="font-size:12px;">ELIMINAR</a>
                <h2>{{service.categoria|upper}}</h2>
                <h2>{{service.telefono}} <a href="https://wa.me/{{service.telefono}}" target="_blank"><img src="{{ url_for('static', filename='images/wsp.png') }}" style="height:30px;"></a></h2>
                <h2>{{service.descripcion}}</h2>
            </div>
            {% endfor %}
            <div class="commentsbox">
                <h2>COMENTARIOS</h2>
                <h3>PEDRO:</h3>
                <h3>Lorem ipsum dolor sit amet.</h3><br>
                <h3>JUAN:</h3>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3><br>
                <h3>DIEGO:</h3>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim deleniti excepturi debitis. Necessitatibus, aliquid!</h3><br>

            </div>

            <div class="formbox">
            </div>

        </div>

    </div>

</body>
</html>