<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUENTRALO.CL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}">

</head>
<body>
    <header>
        <div id="logobox">
            <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="">
            <h1>ENCUENTRALO.CL |</h1>
            <h2>BIENVENIDO {{usuario.nombre|upper}}</h2>
        </div>
        <div id="linksbox">
            <a href="/perfil">MI PERFIL</a>
            <a href="/bienvenido">INICIO</a>
            <a style="color:#F7A821;" href="/logout">LOG OUT</a>
        </div>
    </header>

    <div id="bigcolumn">
        
        <div id="titlebox">
            {% if udp.promediodeeval %}
            <h1 class="titulo">{{udp.nombre|upper}} {{udp.apellido_paterno|upper}} | {{udp.promediodeeval}} |</h1>
            {% else %}
            <h1 class="titulo">{{udp.nombre|upper}} {{udp.apellido_paterno|upper}} | </h1>
            {% endif %}
        </div>


        <div id="BOXES-WRAP">
            <div class="servicebox">
                {% for service in udp.servicios %}
                <div class="servicebox">

                    <h2>{{service.categoria|upper}}</h2>
                    <h2>{{service.telefono}} <a href="https://wa.me/{{service.telefono}}" target="_blank"><img src="{{ url_for('static', filename='images/wsp.png') }}" style="height:30px;"></a></h2>
                    <h2>{{service.descripcion}}</h2>
                </div>
                {% endfor %}
            </div>

            <div class="commentsbox">
                <h2>COMENTARIOS</h2>

                {% for evaluacion in udp.evaluaciones%}
                {% if evaluacion.comentario %}
                <h3>{{evaluacion.sender.name|upper}}</h3>
                <h3>{{evaluacion.comentario}}</h3><br>
                {% endif %}
                {% endfor %}
            </div>

            <div class="formbox">
                {% if not session.user_id == udp.id %}
                {% if not session.user_id in esi %}
                <form action="/create/evaluacion/{{udp.id}}" method="POST">
                    <label for="evaluacion">Tu evaluación:</label><br>
                    <select name="evaluacion">
                        <option value="0">Elige del 1 al 5</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br>
                    <label for="comentario">Tu comentario:</label><br>
                    <textarea rows="4" cols="50" name="comentario" placeholder="Ingresa tu comentario aquí..."></textarea><br>
                    <input type="submit" value="Enviar Evaluación">
                </form>
                {% endif %}
                {% endif %}
            </div>

        </div>

    </div>

</body>
</html>