<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUENTRALO.CL</title>
    <link rel= "stylesheet" type= "text/css" href= "/css/servicios.css">

</head>
<body>
    <header>
        <div id="logobox">
            <img src="/images/lupa.png" alt="">
            <h1>ENCUENTRALO.CL |</h1>
            <h2>BIENVENIDO {{USUARIO.NOMBRE}}</h2>
        </div>
        <div id="linksbox">
            <a href="#">MI PERFIL</a>
            <a href="">INICIO</a>
            <a style="color:#F7A821;" href="">LOG OUT</a>
        </div>
    </header>

    <div id="bigcolumn">
        

        <h1 class="titulo">CUENTANOS QUE SERVICIO BUSCAS:</h1>

        <div id="SERVICES-WRAP">
            <div class="servicebox">
                <img src="/images/albañil.png" alt="">
                <a href="#">ALBAÑIL</a>
            </div>

            <div class="servicebox">
                <img src="/images/electricista.png" alt="">
                <a href="#">ELECTRICISTA</a>
            </div>

            <div class="servicebox">
                <img src="/images/GASFITER.png" alt="">
                <a href="#">GASFITER</a>
            </div>

            <div class="servicebox">
                <img src="/images/TAXI.png" alt="">
                <a href="#">TAXI</a>
            </div>        
        
        </div>

    </div>

</body>
</html>