@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    /* border: 1px dashed orangered; */
}

/* CABECERA */

header{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
}

header > h1{
    color: #212328;
    font-family: 'Oswald', sans-serif;
}

header > img{
    height: 30px;
}

/* CUERPO */

#bigcolumn{
    background-color:#F7A821;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1,h2,h3,h4, h5,a, form, p {
    font-family: 'Oswald', sans-serif;
    /* text-align: center; */
}

#login{
    align-self: flex-start;
}

.titulo{
    margin: 20px 0;
    color: #212328;
}


.halfcolumn {
    width: 400px;
    margin: 40px;
}

input[type=text], input[type=email], input[type=password], select{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

input[type=submit]{
    color: white;
    background-color: #212328;
    border: none;
    height: 30px;
    width: 25%;
}

a{
    margin-left: 15px;
    color: #5A5A5A;
}

p{
    margin-top: 15px;
    color: red;
    font-weight: bolder;
}

#register{
    background-color: #212328;
    padding: 0 40px 40px;
    border-radius: 10px;
}

#registitle{
    color: white;
}

#register > form > input[type=submit]{
    background-color: #F7A821;
}

#register > form > label{
    color: white;
}

#flash{
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

#bigcolumn > img{
    height: 600px;
}